{% extends 'blog/base.html' %}
{% block title %} About {% endblock title %}
{% block content %}
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Who are we?</div>
          <p>Shenyang Aerospace University (SAU) is founded in 1952 and situated in Shenyang. During the past 60 years, Shenyang Aerospace University has developed into an academic center, housing teaching buildings, research laboratories, a library which is both an architectural and cultural icon, a theater building, sports arena, swimming center and student’s activity centers having 600,000 square meters of floor space and cover 200, 000 square meters of landscaped gardens. Other services such as the school hospital, comfortable accommodations and a number of dining halls are also provided.</p>
        </div>
        <span class="badge bg-primary rounded-pill">60</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">What do we Offer</div>
          <p>The university employs a number of foreign teachers who contribute to both the academic and cultural life of the school community. At present, there are over 1222 international students from 71 countries studying Aeronautical Engineering, Mechanical Engineering and Chinese Culture, etc,. These students, with their diverse cultural backgrounds, contribute to the broad international focus of the university.</p>
        </div>
        <span class="badge bg-primary rounded-pill">1222</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Why Join Us?</div>
          <p>Internationalization is one of the characteristics of SAU. The university has established cooperative agreements with 300 universities and companies from around the world. It has an active exchange program for both teachers and students.</p>
        </div>
        <span class="badge bg-primary rounded-pill">19</span>
      </li>
    </ol>
{% endblock content %}